{% extends "base.html" %}

{% block title %}Update Semester{% endblock %}

{% block head %}{% endblock %}

{% block content %}
    <div class="page-title">Update Semester</div>
    <div class="card-table">
        <form method="POST" action="{{ url_for('update_semester', id=semester.SemesterID) }}">
            <div class="mb-3">
                <label for="SemesterName" class="form-label">Semester Name:</label>
                <input type="text" id="SemesterName" name="SemesterName" value="{{ semester.SemesterName }}" class="form-control" required>
            </div>
           
            <button type="submit" class="btn btn-success">Update Semester</button>
        </form>
    </div>
{% endblock %}
